{% load i18n humanize ticket_to_link %}
<div class="crview">
    <div class="reveal modal" id="cr_description" data-reveal>
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title"><h4>Report Submission</h4></div>
            </div>
            <div class="modal-body">
                {{ cr.description|force_escape|smarter_urlize:75|num_to_link|linebreaksbr }}
            </div>
            <div class="modal-footer text-right">
                <a href="{% url 'vince:vrffullscreen' cr.id %}" target="_blank" rel="noopener" class="secondary button">View Full Screen</a>
                {% if vrf_url %}
                <a href="{{ vrf_url }}" class="downloadvrf primary button">Download</a>
                {% else %}
                <span>[No associated VRF Found]</span>
                {% endif %}
            </div>
        </div>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

{{ old_tags|json_script:"old_tags" }}
{{ other_tags|json_script:"other_tags" }}
{{ assignable|json_script:"assignable" }}
    <div class="row align">
        <div class="large-9 medium-8 small-12 columns">
        <h3>{{ cr.title }}</h3>
        <p>Reported by {% if vince_user_submission %}<a href="{% url 'vince:vcuser' vc_cr.user.id %}">VINCE User: {{ vince_user_submission }}</a> {% endif %}{% if cr.contact_email %} {{ cr.contact_name }} [{{ cr.contact_email }}] {% else %}Anonymous {% endif %}on {{ cr.date_submitted|date:"Y-m-d, H:i" }} via <a href="#"  data-open="cr_description">{{ cr.submission_type }} submission</a><br/>
            {% if cr.vrf_id %}
            <b>{{REPORT_ID}}{{ cr.vrf_id }}</b>
            {% endif %}
        </p>
    
        </div>
        <div class="large-3 medium-4 small-12 columns">
            <a class="button cmu small-only-expanded primary float-right" href="{% url 'vince:ticket' pk=cr.id %}">View and Modify Ticket</a>
        <!-- <button class="button default dropdown menu float-right" data-dropdown-menu type="button" data-toggle="wanttomenu" aria-haspopup="true" aria-expanded="false" id="iwanttobutton">
            I want to</button> -->
        </div>
    </div>
    
    
    {% if cr.resolution %}
    <div class="row">
        <div class="large-12 columns">
        <label for="resolution">{% trans "Ticket Resolution" %}
            {% ifequal cr.get_status_display "Resolved" %}
            
        <a href='?close'>
            <button type="button"
                    class="button assignme alert tiny">{% trans "Accept and Close" %}</button>
        </a>{% else %} {% if noshowdeps %}{% else %}<a href="{% url 'vince:editres' cr.id %}" id="editres" title="edit resolution"><i class="fas fa-edit"></i></a>{% endif %}{% endifequal %}</label>
        {{ cr.resolution|force_escape|smarter_urlize:75|linebreaksbr }}
        </div>
    </div>
    {% elif cr.get_status_display in "Resolved,Closed" %}
    {% if noshowdeps %}
    {% else %}
    <div class="row">
        <div class="large-12 columns">
        <label for="resolution">{% trans "Ticket Resolution" %}
        <a href="{% url 'vince:editres' cr.id %}" id="editres" title="Add resolution">
            <button type="button" class="button assignme tiny">{% trans "Add resolution" %}</button>
        </a>
        </label>
        </div>
    </div>
    {% endif %}
    {% endif %}
    
    <div class="row">
        <div class="large-3 columns align-middle">
            <label for="Assigned to">Assigned to</label>
            <span class="assigned_to">  
                <span class="assigned_to_name">{{ cr.get_assigned_to }}</span>
            </span>
        </div>
        <div class="large-3 columns">
            <label for="due_date">Due Date</label>
            {{ cr.due_date|date:"r" }} ({{ cr.due_date|naturaltime }})
        </div>
        <div class="large-3 columns">
        <label for="contact">Contact</label>
        <ul class="no_bullet">
        {% for contact in cr.ticketcontact_set.all %}
        <li><a href="{% url 'vince:contact' contact.contact.id %}">{{ contact.contact.vendor_name }}</a></li>
        {% empty %}
        None
        {% endfor %}
        </ul>
        </div>
    
        <div class="large-3 columns">
            <label for="priority">{% trans "Priority" %}</label>
            <span class="label {{ cr.get_priority_css }}">{{ cr.get_priority_display }}</span>
        </div>
        </div>
    
    {% if show_taggle %}
        <div class="row">
        <div class="large-12 columns">
            <label for="ticket_tag">{% trans "Tag Ticket" %} <span class="helptooltip" title="Classify this ticket with a tag. Tags must be pre-defined in Tag Manager."><i class="fas fa-question-circle"></i></span></label></label>
            <div class="input textarea taggle_input" id="ticketcc_taggle" action="{% url 'vince:update' cr.id %}"></div>
        </div>
    </div>
    {% endif %}
    
        <div class="row">
        <div class="large-12 columns">
            {% if cr.ics_impact %}
            <b>ICS: This vulnerability has significant ICS/OT impact.</b>
            {% else %}
            <b>ICS:</b> No indication of significant ICS/OT impact.
            {% endif %}
        </div>
        </div>
    
        <div class="row">
            <div class="large-12 columns">
              {% if ai_ml_system %}
              <b>AI/ML: This vulnerability is related to AI/ML systems.</b>
              {% else %}
              <b>AI/ML:</b> No indication of a relationship to AI/ML systems.
              {% endif %}
            </div>
          </div>
        

        <div class="row">
        <div class="large-4 columns">
            <label for="reporter">Affected Vendor</label>
            {{ cr.vendor_name }} <br/>
            {% if cr.multiplevendors %} {{ cr.other_vendors }}{% endif %}
        </div>
        <div class="large-4 columns">
            <label for="reporter">Affected Product</label>
            {{ cr.product_name }}
        </div>
        <div class="large-4 columns">
            <label for="reporter">Affected Version</label>
            {{ cr.product_version }}
        </div>
        </div>
        
    
        {% if cr.tracking %}
        <div class="row"><div class="large-4 columns">
            <label for="tracket">Related Tracking</label>
            {{ cr.tracking }}
        </div>
        <div class="large-8 columns">
        </div>
        </div>
        {% endif %}
        <div class="row">
        <div class="large-4 columns">
            <label for="reporter">Reporter</label>
            {% if cr.contact_name %}
            {{ cr.contact_name }}
            [{{ cr.contact_email }}]
            {% elif cr.contact_email %}
            {{ cr.contact_email }}
            {% else %}
            Reporter did not provide name or email
            <br/>
            {% endif %}
            {% if cr.contact_org %}
            {{ cr.contact_org }}
            <br/>
            {% endif %}
            {% if cr.contact_phone %}
            {{ cr.contact_phone }}
            {% endif %}
        </div>
        <div class="large-4 columns">
            <label for="reporter">Reporter wants credit?</label>
            <span class="label {{ cr.credit_release|yesno:"success,alert" }}">{{ cr.credit_release|yesno }}</span>
            
        </div>
        <div class="large-4 columns">
            <label for="reporter">Share reporter contact info?</label>
            <span class="label {{ cr.share_release|yesno:"success,alert" }}">{{ cr.share_release|yesno }}</span>
        </div>
        </div>
        <div class="row">
        <div class="large-4 columns">
            <label for="comm_attempt">{% trans "Vendor contacted?" %}</label>
            <span class="label {{cr.comm_attempt|yesno:"success,alert"}}">{{ cr.comm_attempt|yesno }}</span>
        </div>
        <div class="large-4 columns">
            <label for="first_contact">{% trans "Date First Contacted" %}</label>
            {% if cr.first_contact %}{{ cr.first_contact|date:"Y-m-d" }}<br/>{% endif %}
        </div>
        <div class="large-4 columns"></div>
        </div>
        <div class="row">
        <div class="large-12 columns">
            {% if cr.comm_attempt %}
            {{ cr.vendor_communication|force_escape|smarter_urlize:75|num_to_link|linebreaksbr }}
        {% else %}
            {% if cr.why_no_attempt == "3" %}
            <tr>
        <th>{% trans "Explanation" %}:</th>
        <td>{{ cr.please_explain }}</td>
            </tr>
            {% else %}
            <tr>
        <th>{% trans "No attempt to contact" %}</th>
        {% if cr.why_no_attempt == "2" %}
        <td>({% trans "Unable to find contact information." %}) {% if cr.please_explain %}<br/>{{ cr.please_explain }}{% endif %}</td>
        {% else %}
        <td>{% if cr.please_explain %}{{ cr.please_explain }}{% endif %}</td>
        {% endif %}
            </tr>
            {% endif %}
            {% endif %}
        </div>
        </div>
        
        <div class="row">
        <div class="large-12 columns">
            <label for="description">Description</label>
            {{ cr.vul_description|force_escape|smarter_urlize:75|num_to_link|linebreaksbr }}
        </div>
        </div>
        <div class="row">
        <div class="large-12 columns">
            <label for="exploit">{% trans "Exploit" %}</label>
            {{ cr.vul_exploit|force_escape|smarter_urlize:75|num_to_link|linebreaksbr }}
        </div>
        </div>
        <div class="row">
        <div class="large-12 columns">
        <label for="impact">{% trans "Impact" %}</label>
        {{ cr.vul_impact|force_escape|smarter_urlize:75|num_to_link|linebreaksbr }}
        </div>
        </div>
        
        <div class="row">
        <div class="large-12 columns">
        <label for="discovery">Discovery</label>
        {{ cr.vul_discovery|force_escape|smarter_urlize:75|num_to_link|linebreaksbr }}
        </div>
        </div>
        
        <div class="row">
        <div class="large-12 columns">
        <label>{% trans "Has been exploited?" %} 
            <span class="label {{ cr.vul_exploited|yesno:"alert,success" }}">{{ cr.vul_exploited|yesno }}</span> </label>
        {% if cr.vul_exploited %}
        {{ cr.exploit_references|force_escape|smarter_urlize:75|num_to_link|linebreaksbr}}
        {% endif %}
        </div>
        </div>
        <div class="row">
        <div class="large-12 columns">
            <label>{% trans "Is public?" %} 
        <span class="label {{ cr.vul_public|yesno:"alert,success" }}">{{ cr.vul_public|yesno }}</span></label>
            {% if cr.vul_public %}
            {{ cr.public_references|force_escape|smarter_urlize:75|num_to_link|linebreaksbr}}
            {% endif %}
        </div>
        </div>
        <div class="row">
        <div class="large-12 columns">
            <label>{% trans "Disclosure Plans?" %} 
        <span class="label {{ cr.vul_disclose|yesno:"alert,success" }}">{{ cr.vul_disclose|yesno }}</span></label>
            {% if cr.vul_disclose %}
            {{ cr.disclosure_plans|force_escape|smarter_urlize:75|num_to_link|linebreaksbr }}
            {% endif %}
        </div>
        </div>
        {% if cr.comments %}
        <div class="row">
        <div class="large-12 columns">
            <label>{% trans "Comments" %}</label>
            {{ cr.comments }}
        </div>
        </div>
        {% endif %}
    
        {% if noshowdeps %}
        {% else %}
    <div class="row">
        <div class="large-12 columns">
        <label>{% trans "Dependencies" %}</label>
        {% for dep in cr.ticketdependency.all %}
        {% if forloop.first %}<p>{% trans "This ticket cannot be resolved until the following ticket(s) are resolved" %}</p><ul>{% endif %}
            <li><a href='{{ dep.depends_on.get_absolute_url }}'>{{ dep.depends_on.ticket }} {{ dep.depends_on.title }}</a> ({{ dep.depends_on.get_status_display }}) <a class="button tiny warning adddependency" action='{% url 'vince:rmdep' cr.id dep.id %}'><i class="fas fa-trash"></i>&nbsp;{% trans "Remove Dependency" %}</a></li>
            {% if forloop.last %}</ul>{% endif %}
        {% empty %}
        <p>{% trans "This ticket has no dependencies." %}</p>
        {% endfor %}
        </div>
    </div>
    <div class="reveal" id="adddependency" data-reveal data-close-on-click="false"></div>
    <div class="reveal" id="deleteticket" data-reveal>
        <div class="fullmodal">
        <form method='post' action="{% url 'vince:delete' cr.id %}">
            <div class="modal-content">
        <div class="modal-header">
                <h5 class="modal-title">{% trans "Delete Ticket" %}</h5>
        </div>
        <div class="modal-body">
            {% csrf_token %}
            {% blocktrans with cr.title as ticket_title %}Are you sure you want to delete this ticket (<em>{{ ticket_title }}</em>)? All traces of the ticket, including followups, attachments, and updates will be irreversibly removed.{% endblocktrans %}</p>
        </div>
        <div class="modal-footer text-right">
                <a href="#" class="hollow button" data-close type="cancel">Cancel</a>
                <input class="button alert" type='submit' value='{% trans "Yes, Delete" %}' />
        </div>
            </div>
            <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
            </button>
        </form>
        </div>
    </div>
    <div class="reveal" id="rmdependency" data-reveal></div>
    {% endif %}
</div>