{% load post_tags inbox_tags %}
{% for thread in threads %}
<article class="article-row">
  <div class="article-row-img">
    {% autoescape off %}{{ thread.latest_message.sender|userlogo:"profile-pic" }}{% endautoescape %}
  </div>
  <div class="article-row-content">
    <div class="article-row-system">
      <b>{{ thread.latest_message.sender.vinceprofile.vince_username }}</b>,
      {% if thread.from_group %}
      {{ thread.from_group }},
      {% endif %}
      {% if thread.to_group %}
      {{ thread.to_group }},
      {% endif %}
      {{ thread|not_in_group|join:", " }}
    </div>
    <p class="article-row-content-description">
      <a href="{{thread.get_absolute_url}}"><b>Subject:</b> {{ thread.subject }} </a>{% if thread.number_attachments %} <i class="fas fa-paperclip"></i> {% endif %}
    </p>
    <p class="content">{{ thread.latest_message.content }}</p>
    <time class="article-row-content-time">{{ thread.num_messages }} Message{% if thread.num_messages > 1 %}s{% endif %} &nbsp; &nbsp; Last Message: <i class="far fa-clock"></i> {{ thread.latest_message.created|date:"Y-m-d" }} ({{ thread.latest_message.created|timesince }} ago)   Created: <i class="far fa-clock"></i> {{ thread.first_message.created|date:"Y-m-d" }}
    </time>
  </div>
</article>
{% empty %}
<p>There are no threads with {{ vc_user.vinceprofile.vince_username }}</p>
{% endfor %}

<ul class="pagination text-center" role="navigation" aria-label="Pagination">
  {% if threads.has_previous %}
  <li class="pagination-previous"><a href="#" next="{{ threads.previous_page_number }}" class="search_notes">Previous</a></li>
  {% else %}
  <li class="pagination-previous disabled">Previous</li>
  {% endif %}
  {% for i in threads.paginator.page_range %}
  {% if threads.number == i %}
  <li class="current"><span class="show-for-sr">You're on page</span> {{ threads.number }}</li>
  {% elif i > threads.number|add:'-3' and i < threads.number|add:'3' %}
            <li><a href="#" next="{{ i }}" aria-label="Page {{ i }}" class="search_notes">{{ i }}</a></li>
            {% else %}
            {% if i == 1 %}
  <li><a href="#" next="{{ i }}" aria-label="Page {{ i }}" class="search_notes">{{ i }}</a></li>
  <li class="ellipsis"></li>
  {% elif forloop.last %}
  <li class="ellipsis"></li>
  <li><a href="#" next="{{ i }}" aria-label="Page {{ i }}" class="search_notes">{{ i }}</a></li>
  {% endif %}
  {% endif %}
  {% endfor %}
  {% if threads.has_next %}
  <li class="pagination-next"><a href="#" next="{{ threads.next_page_number }}" aria-label="Next page" class="search_notes">Next</a></li>
  {% else %}
  <li class="pagination-next disabled">Next</li>
  {% endif %}
</ul>
