option_settings:
    - namespace: aws:elasticbeanstalk:container:python
      option_name: NumProcesses
      value: '1'
    - namespace: aws:elasticbeanstalk:container:python
      option_name: NumThreads
      value: '15'
    - namespace: aws:elasticbeanstalk:container:python
      option_name: WSGIPath
      value: bigvince.wsgi:application


