container_commands:
  01_migrate_vincetrack:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate --database=default --noinput"
    test: '[ "X${VINCE_NAMESPACE}" == "Xvince" ]'
  02_migrate_vincecomm:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate --database=vincecomm --noinput"
    test: '[ "X${VINCE_NAMESPACE}" != "Xvincepub" ]'
  03_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
  04_createsu:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py createsu"
    test: '[ "X${VINCE_NAMESPACE}" != "Xvincepub" ]'
  05_migrate_vincepub:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate --database=vincepub --noinput"
    leader_only: true
  06_loadinitialdata:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py loadinitialdata"
    test: '[ "X${VINCE_NAMESPACE}" != "Xvincepub" ]'

