{% load i18n markdown_extras %}
<div class="full_modal">
  <form method="post" action="{% url 'vince:push_notify' object.id %}" id="confirmpush">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title">Confirm Publish Post</h3>
    </div>

    <div class="modal-body">
      {% csrf_token %}
      <p>Are you sure you want to publish this post on VinceComm?</p>
    </div>
    <div class="modal-footer text-right">
      <a href="#" class="hollow button" data-close type="cancel">Cancel</a>
      <input class="button primary" type='submit' value='{% trans "Yes, Publish" %}' />
    </div>
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
