{% extends VINCETRACK_BASE_TEMPLATE %}
{% load i18n humanize ticket_to_link contact_tags %}
{% load staticfiles %}
{% block js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'vince/js/scontact.js' %}"></script>
{% endblock %}
{% block content %}
<div class="app-top-panel">
  <div class="row">
    <div class="large-7 medium-7 columns">
      <h2>{{ contact.vendor_type }}: {{ contact.vendor_name }}</h2>
    </div>
    <div class="large-5 medium-5 columns text-right">
      {% if changes %}
      <a href="{% url 'vince:contact_changes' object.id %}"><button class="button default small small-only-expanded">Approve Changes</button></a>
      {% endif %}
      <a href="{% url 'vince:editcontact' object.id %}" class="ticket-edit"><button class="button primary small small-only-expanded"><i class="fas fa-pencil-alt"></i> {% trans "Edit Contact" %}</button></a>
    </div>
  </div>
</div>

<div data-reveal class="reveal" id="modal" data-close-on-click="false"></div>

{% if changes %}
<div class="row">
  <div class="large-12 columns">
    <div class="callout warning">
      <p>The following changes need to be approved:</p>
      <ul>
	{% for change in changes %}
	<li>{{ change }}</li>
	{% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}

{{ groups|json_script:"groups" }}
{{ all_groups|json_script:"all_groups" }}
{{ contacttags|json_script:"contact_tags" }}
{{ othertags|json_script:"other_tags" }}

<div class="row">
  <div class="large-12 columns">
    {% for message in messages %}
    <div class="callout {{message.tags}}">{% autoescape off %}{{ message }}{% endautoescape %}</div>
    {% endfor %}
  </div>
</div>

{% if contact.active %}{% else %}{% if vince_users %}
<div class="row">
  <div class="large-12 columns">
    <div class="callout alert"><b>Uh oh! This contact is inactive but has active VINCE users.  Please remove VINCE users or activate contact!</b></div>
  </div>
</div>
{% endif %}
{% endif %}

<div class="hidden" id="task_assign">
  <div class="reassign">
    <select class="task_reassign">
      {% for user in vinceusers %}
      <option value="{{ user.id }}">{{ user.usersettings.vince_username }}</option>
      {% endfor %}
      <option value="0">Unassign</option>
    </select><button type="button" class="task_assign_submit"><i class="fas fa-check"></i>
    </button><button type="button" class="task_assign_cancel"><i class="fas fa-times"></i></button>
  </div>
</div>


<div class="row">
  <div class="large-12 medium-12 small-12 columns">

    <div class="case-container">
      <ul class="tabs" data-tabs id="case-tabs" data-deep-link="true" data-update-history="true">
	<li class="tabs-title is-active"><a href="#details" aria-selected="true"> <i class="fas fa-mobile-alt"></i> Contact Info</a></li>
	{% if object.vendor_type == "Vendor" %}<li class="tabs-title"><a data-tabs-target="products" href="#products"><i class="fas fa-list-alt"></i> Products</a></li>{% endif %}
	<li class="tabs-title"><a data-tabs-target="tickets" href="#tickets"><i class="fas fa-list-alt"></i> Tickets</a></li>
	<li class="tabs-title"><a data-tabs-target="cases" href="#cases"><i class="fas fa-briefcase"></i> VINCE Cases</a></li>
	<li class="tabs-title"><a data-tabs-target="cases" href="#oldcases"><i class="fas fa-history"></i> Old Cases</a></li>
      </ul>
      <div class="tabs-content" data-tabs-content="case-tabs">
	<div class="tabs-panel is-active" id="details">
	  <div class="row">
	    <div class="large-8 medium-8 small-6 columns">
	      {% if object.active %}
	      <h4>{{ object.vendor_name }} (Active)</h4>
	      {% else %}
	      <h4>{{ object.vendor_name }} (Inactive)</h4>
	      {% endif %}
	    </div>
	    <div class="large-4 medium-4 small-6 columns">
	      <button class="button default dropdown menu float-right" data-dropdown-menu type="button" data-toggle="wanttomenu" aria-haspopup="true" aria-expanded="false" id="iwanttobutton">
		I want to</button>
	      <div class="dropdown-pane hoverable bottom" id="wanttomenu" data-dropdown data-hover="true" data-hover-pane="true">
		<ul class="menu vertical">
		  {% if contact.active %}
		  <li><a class="dropdown-item" href="{% url 'vince:editcontact' object.id %}?deactivate=1">{% trans "Deactivate Contact" %}</a></li>
		  {% else %}
		  <li><a class="dropdown-item" href="{% url 'vince:editcontact' object.id %}?activate=1">{% trans "Activate Contact" %}</a></li>
		  {% endif %}
		  {% if user.is_superuser %}
		  <li><a class="dropdown-item" href="{% url 'vince:rmcontact' object.id %}">{% trans "Delete Contact" %}</a></li>
		  {% endif %}
		  {% if vc_contact %}
		  <li><a class="dropdown-item" href="{% url 'vinny:admin' vc_contact.id %}">{% trans "View Case Permissions" %}</a></li>
		  {% endif %}
		  <li><a class="dropdown-item" href="{% url 'vinny:sendmsggroup' object.id %}">{% trans "Message All Users" %}</a></li>
		  <li><a class="dropdown-item" href="{% url 'vince:newemail' contact.id %}">{% trans "Email All Users" %}</a></li>
		  {% if groupadmins %}
		  <li><a class="dropdown-item" href="{% url 'vinny:sendmsgadmins' object.id %}">{% trans "Message Admins" %}</a></li>
		  <li><a class="dropdown-item" href="{% url 'vince:newemailadmins' 'admins' contact.id %}">{% trans "Email Group Admins" %}</a></li>
		  {% endif %}
		</ul>
	      </div>
	    </div>
	  </div>
	  <div class="row">
	    <div class="large-12 columns">
	      <b>{% trans "Type" %}: </b>
	      {% if object.vendor_type == "Contact" %}
	      User
	      {% else %}
	      {{ object.vendor_type }}
	      {% endif %}
		<span class="hidden" id="vendor_type_help">
		  {% if object.vendor_type == "Vendor" %}
		  <p>A vendor type contact is typically a company or organization that creates or sells products. This type of contact usually consists of 1 or more people and has the ability to manage users in their group in VINCEComm. A vendor should name at least 1 group admin.</p>
		  {% elif object.vendor_type == "Coordinator" %}
		  <p>A coordinator type contact is able to invite/add users to their group.  A coordinator group should have at least 1 group admin. Coordinator contacts should not be listed as vendors in cases.</p>
		  {% else %}
		  <p>A "Contact" or "User" type contact is typically a single person's contact information. They will not be able to add users to their group.</p>
		  {% endif %}
		</span>
		<span class="helptooltip" id="showcharttip" title="Contact Type Help"><i class="fas fa-question-circle"></i></span>
		<small>&nbsp;({% if vince_users|length == 1 %}1 User{% else %}{{vince_users|length}} Users{% endif %}{% if object.vendor_type == "Contact" %}{% else %}{% if groupadmins|length == 1 %}, &nbsp;1 Admin{% else %},&nbsp;{{ groupadmins|length }} Admins{% endif %}{% endif %})</small>
	    </div>
	  </div>
	  <div class="row">
	    <div class="large-12 columns">
	      <b>Location:</b> {{ object.location }} [{{ object.countrycode }}]
	    </div>
	  </div>
	  <div class="row">
	    <div class="large-12 columns">
	      {% if object.comment %}
	      <p><b>{% trans "Comment" %}:</b> {{ object.comment }}<p>
	      {% endif %}
	    </div>
	  </div>
	  <hr/>
	  <div class="row">
	    <div class="large-6 columns">
	      <h4>Emails/Users</h4>
	    </div>
	    <div class="large-6 columns text-right">
	      <a href="{% url 'vince:addemail' object.id %}" class="small button default" id="addemail"><i class="fas fa-plus"></i> Add Email</a>
	      {% comment %}
	      {% if groupadmins %}
	      <a href="{% url 'vince:msgadminadduser' contact.id %}" id="adduser"><button class="button default small small-only-expanded"><i class="fas fa-plus"></i> {% trans "Add User" %}</button></a>
	      {% else %}
	      <a href="{% url 'vince:initcontactverify' object.id %}"><button class="button default small small-only-expanded"><i class="fas fa-plus"></i> {% trans "Add User" %}</button></a>
	      {% endif %}
	      {% endcomment %}
	    </div>
	  </div>
	  <span class="hidden" id="email_type_help">
	    <p>A Notification-Only email address is typically a team email or email list address. VINCE users with Notification-Only addresses will NOT be able to access cases associated with this contact.</p>
	    <p>To change email type, remove email and re-add email with desired type.</p>
	  </span>
	    
	  <div class="row">
	    <div class="large-12 columns">
	      <table class="hover usermgmt">
		<thead>
		  <tr>
		    
		<th>Type <span class="helptooltip" id="showtypehelp" title="Help"><i class="fas fa-question-circle"></i></span></th>
		<th>Email</th>
		<th>User (Name)</th>
		<th>Notifications</th>
		<th width="80">Actions</th>
	      </tr>
	    </thead>
	    {% for email in object.emailcontact_set.all %}
	    {% with t=email.email|vince_user_link %}
		<tr>
		  <td>
		  {% if email.email_list %}
		  Notification-Only
		  {% elif t %}
		  User
		  {% if email.email in groupadmins %}<i class="fas fa-crown" title="Group Admin"></i>                  {% endif %}
		  {% elif object.id|inviteduser:email.email %}
		  Invited User
		  {% else %}
		  Email
		  {% endif %}
		  </td>
		  
		  <td>{{ email.email }}{% if email.status %}{% else %}<span class="errornote"><b>(INACTIVE)</b></span>{% endif %}</td>

		{% if email.email in vince_users and t %}
		<td>  <i class="fas fa-user"></i> <a href="{% url 'vince:vcuser' t.id %}">{{ t.vinceprofile.preferred_username }}</a> ({% if t.get_full_name %}{{ t.get_full_name }}{% else %}{{ email.name }}{% endif %}) </td>
		{% else %}
		<td><i class="fas fa-user-alt-slash"></i> {% if email.name %}({{ email.name }}){% endif %}</td>
		{% endif %}
		<td>{% if email.email_function in "TO,CC" %}Enabled  <a href="{% url 'vince:changeemail' email.id %}" class="modemail"><i class="fas fa-edit" title="Disable"></i></a>{% else %}Disabled <a href="{% url 'vince:changeemail' email.id %}" class="modemail"><i class="fas fa-edit" title="Enable"></i></a>{% endif %}</td>
		  <td>{% if user.usersettings.contacts_write %}<a href="{% url 'vince:rmemail' object.id email.id %}" class="rmemail"><i class="fas fa-trash-alt" aria-hidden="true" title="Remove email/user"></i></a>
		    {% if email.email_list %}{% else %}
		  {% if email.email in groupadmins %}
		  <a href="{% url 'vince:contact' object.id %}" class="rmadminuser" val="{{ email.email }}"><i class="fas fa-ban" title="Remove Admin Access"></i></a>
		  {% elif t %}
		  {% if object.vendor_type == "Contact" %}{% else %}
		  <a href="{% url 'vince:contact' object.id %}" class="adminuser" val="{{ email.email }}"><i class="fas fa-crown" aria-hidden="true" title="Make user group administrator"></i></a>{% endif %}
		  {% endif %}
		  {% endif %}
		  {% endif %}
		  {% if email.email in vince_users and t %}<a href="{% url 'vinny:sendmsgus' t.id %}"><i class="fas fa-comment" alt="message user" title="message user"></i></a>{% endif %}
		</td>
	    </tr>
	    {% endwith %}
	    {% endfor %}
		{% for email in associations %}
		<tr>
		  <td><a href="{{ email.ticket.get_absolute_url }}">Verification Initiated</a></td>
		  <td><i>{{ email.user }}</i></td>
		  <td></td>
		  <td></td>
		</tr>
		{% endfor %}
	      </table>
	    </div>
	  </div>
	  <hr/>
	  <table class="hover unstriped tickets">
	      {% for phone in object.phonecontact_set.all %}
	      <tr>
		<th width="200">Phone [{{ phone.phone_type }}]</th>
		<td>{{ phone.country_code }} {{ phone.phone }} {% if phone.comment %}(Comment: {{ phone.comment }}){% endif %}</td>
	      </tr>
	      {% endfor %}
	      {% for crypto in object.contactpgp_set.all %}
	      <tr>
		<th>PGP Key {% if crypto.revoked %}<b>[REVOKED]</b>{% endif %}</th>
		<td><b>{{ crypto.pgp_key_id }}</b>, {% if crypto.pgp_email %}{{ crypto.pgp_email }}, {% endif %}VALID: {{ crypto.startdate }} - {{ crypto.enddate }} {% if crypto.comment %}<b>Comment:</b>{{ crypto.pgp_key_data }}{% endif %}</td>
	      </tr>
	      {% endfor %}
	      {% for postal in object.postaladdress_set.all %}
	      <tr>
		<th>Postal [{{ postal.address_type }}]</th>
		<td>{{ postal.street }}<br/>
		  {% if postal.street2 %}
		  {{postal.street2}}<br/>
		  {% endif %}
		  {{ postal.city }}, {{ postal.state }} {{ postal.zip_code }}<br/>
		  {{ postal.country }}
		</td>
	      </tr>
	      {% endfor %}
	      {% for web in object.website_set.all %}
	      <tr>
		<th>Website</th>
		<td><a href="{{ web.url }}">{{ web.url }}</a> {% if web.description %}{{ web.description }}{% endif %}</td>
	      </tr>
	      {% endfor %}
	      
	      <tr>
		<th width="100">Groups</th>
		<td>
		  <div class="taggle_input custom martie" id="group_taggle" action="{% url 'vince:addtogroup' object.id %}"></div>
		</td>
	      </tr>

	      <tr>
		<th width="100">Tags</th>
		<td>
		  <div class="taggle_input custom martie" id="contact_taggle" ></div>
                </td>
              </tr>
	  </table>
    	</div>
	<div class="tabs-panel" id="products">
		<div class="row">
			<div class="large-8 medium-8 small-6 columns">
			{% if object.active %}
			<h4>{{ object.vendor_name }} (Active)</h4>
			{% else %}
			<h4>{{ object.vendor_name }} (Inactive)</h4>
			{% endif %}
			</div>
		</div>
		<hr/>
		<div class="row">
			<div class="large-6 columns">
			<h4>Products</h4>
			</div>
			<div class="large-6 columns text-right">
			<a href="{% url 'vince:addproduct' object.id %}" class="small button default" id="addproduct"><i class="fas fa-plus"></i> Add Product</a>
			</div>
		</div>
		<div class="row">
			<table class="unstriped">
			<thead> 
			<th>Name</th>
			<th>Sectors</th>
			<th></th>
			</thead>
			{% for prod in product_list %}
			<tr>
				<td>{{ prod.name }}</td>
				<td>{% for sec in prod.sector.all %}{{ sec.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
				<td class="large-6 columns text-right"><a href="{% url 'vince:editproduct' prod.id %}" class="small button default text-right" id="editproduct">{% trans "Edit" %}</a>
				<a href="{% url 'vince:rmproduct' object.id prod.id %}" class="small button default" id="rmproduct"><i class="fas fa-trash-alt"></i>{% trans "Delete" %}</a></td>
			</tr>
			{% endfor %}
			</table>
	
		</div>
		</div>	
	<div class="tabs-panel" id="tickets">
	  <div class="row">
            <div class="large-3 columns">
              <div class="input-group">
		<span class="input-group-label">Status</span>
		<select class="input-group-field" id="filterstatus">
		  <option value="0">All</option>
		  <option value="1">Open</option>
		  <option value="4">Closed</option>
		</select>
              </div>
            </div>
	    <div class="large-6 columns">
              <div class="input-group">
		<input class="input-group-field" type="text" placeholder="Filter tasks" id="filter_tasks" href="{% url 'vince:ticketresults' %}" name="{{ contact.vendor_name }}">
		<div class="input-group-button">
		  <button type="submit" class="button"><i class="fas fa-search"></i></button>
		</div>
              </div>
            </div>
	    <div class="large-3 columns"></div>
	  </div>
	  <div id="case_tasks">
            {% include 'vince/include/case_tasks.html' %}
	  </div>
	  {% if ticket_list|length_is:"50" %}
	  <p><b>This list is limited to 50 tickets.</b></p>
	  {% endif %}
	</div>
	<div class="tabs-panel" id="cases">
	  {% if participants %}
	  <div class="row">
	    <div class="large-9 columns">
	      <h3>Showing last {{ participants|length }} VINCE cases involving {{ contact.vendor_name }}</h3>
	    </div>
	    <div class="large-3 columns text-right">
	      <a href="{% url 'vince:contact_cases' object.id %}"><button class="button primary"><i class="fas fa-briefcase"></i> View All</button></a>
	    </div>
	  </div>
	  {% else %}
	  <div class="row">
            <div class="large-12 columns">
              <h3>This contact is not involved in any VINCEComm cases.</h3>
            </div>
	  </div>
	  {% endif %}
	  {% for ticket in participants %}
	  <div class="contact-case-list">
	    <div class="row">
	      <div class="large-8 columns">
		<h4>
		  <a href="{% url 'vince:case' ticket.case.vince_id %}">
		    {% if ticket.case.vince_id|case_access:user %}{{ ticket.case.get_title }}{% else %}{{ ticket.case.vu_vuid }}{% endif %}</a>
		  <a href="{{ ticket.case.get_absolute_url }}" title="View case in VINCEComm"><i class="fas fa-external-link-alt"></i>
		  </a>
		  <a href="{% url 'vinny:vendorcase' ticket.case.id ticket.id %}" title="View case in VINCEComm as this vendor">
		    <i class="fas fa-binoculars"></i>
		  </a>
		    
		</h4>
		<h6> Last updated {{ ticket.case.modified|naturaltime }}</h6>
	      </div>
	      <div class="large-4 columns">
		{% autoescape off %}{{ ticket.case.get_status_html }}{% endautoescape %} <span class="label badge-tag-primary">{% if ticket.coordinator %}Coordinator{% elif ticket.participant %}Participant{% else %}Vendor{% endif %}</span>
	      </div>
	    </div>
	  </div>
	  {% endfor %}
	</div>
	<div class="tabs-panel" id="oldcases">
          {% if cases %}
          <div class="row">
            <div class="large-8 columns">
              <h3>Showing last {{ cases|length }} cases involving {{ contact.vendor_name }}</h3>
            </div>
            <div class="large-4 columns text-right">
              <a href="{% url 'vince:contact_cases' object.id %}?old=1"><button class="button primary"><i class="fas fa-briefcase"></i> View All</button></a>
            </div>
          </div>
          {% endif %}
	  
	  {% for part in cases %}
	  <div class="vulnerability-list">
	    <h4>
              <a href="{{ part.case.get_absolute_url }}">
	       {% if part.case|case_access:user %}{{ part.case.get_title }}{% else %}{{ part.case.vu_vuid }}{% endif %}</a> {% autoescape off %}{{ part.case.get_status_html }} {{ part.case.get_owner_html }}{% endautoescape %} <span class="label badge-tag-primary">Participant</span>
	    </h4>
	    <h6> Last updated {{ part.case.modified|naturaltime }} </h6>
	  </div>
	  {% empty %}
	  <h3>No cases found</h3>
	  {% endfor %}
	</div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 medium-12 small-12 columns" id="activitypanel" action="{% url 'vince:contact_activity' object.id %}">
    {% include 'vince/include/alt_contact_activity.html' with object_list=activity_list %}
    </div>
</div>
    
{% endblock %}
