{% extends VINCETRACK_BASE_TEMPLATE %}{% load i18n dashboard_tags widget_tweaks %}
<!-- site-title  -->
{% block vince_title %}{% trans "CVE Services" %}{% endblock %}
{% load staticfiles %}
{% block js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'vince/js/tabulator.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'vince/css/tabulator_bootstrap4.css' %}">
<script type="text/javascript" src="{% static 'vince/js/cve_service.js' %}"></script>
{% endblock %}
{% block content %}

<div class="app-top-panel">
  <div class="row">
    <div class="large-8 columns">
      <h2>Reserved CVEs for <a href="{% url 'vince:cve_dashboard' my_team.id %}">{{ my_team }}</a> </h2>
    </div>
    <div class="large-4 columns text-right">
      <a id="reserve" href="{% url 'vince:reservecve' %}"><button class="button cmu"><i class="fas fa-bookmark"></i> Reserve CVE</button></a>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    {% for message in messages %}
    <div class="callout {{ message.tags }}">{{ message }}</div>
    {% endfor %}
  </div>
</div>


<div class="reveal small" id="smallmodal" data-reveal data-close-on-click='false'></div>

{% if service_down or account_error %}

<div class="row">
  <div class="large-12 columns">
    {% if service_down %}
    <p>CVE Services is currently not available.  Please try again later.</p>
    {% else %}
    <p>Problem with this account: {{ account_error }}</p>
    {% endif %}
  </div>
</div>
{% endif %}

<form id="search" method="post" action="{% url 'vince:cvelist' account.id %}">
  {% csrf_token %}
  <div class="row">
    <div class="large-4 columns">
      
      <div class="input-group">
        {% render_field form.wordSearch|add_class:"input-group-field"|attr:"spellcheck:False" %}
      </div>
    </div>
    <div class="large-2 columns">
      <div class="input-group">
        {% render_field form.year|add_class:"input-group-field"|attr:"spellcheck:False" %}
      </div>
    </div>
    <div class="large-4 columns">
      <div class="input-group">
        {{ form.vince }} {{ form.vince.label }}
	
      </div>
    </div>
    <div class="large-4 columns">
    </div>
  </div>
</form>


<div class="row">
  <div class="large-12 columns">
    <div id="cve-table" class="tabulator bootstrap"></div>
  </div>
</div>

<div id="searchresults">
  <div class="row">
    <div class="large-12 columns">
      {{ cves|json_script:"cve_data" }}
    </div>
  </div>
</div>
  

{% endblock %}
