{% extends VINCETRACK_BASE_TEMPLATE %}
{% load i18n humanize %}
{% load staticfiles %}
{% block js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'vince/js/group.js' %}"></script>
{% endblock %}
{% block content %}
<div class="app-top-panel">
  <div class="row">
    <div class="large-8 columns">
      <h2>Contact Group: {{ group.name }}</h2>
    </div>
    <div class="large-4 columns text-right">
      <a href="{% url 'vince:editgroup' object.id %}" class="ticket-edit"><button class="button primary small"><i class="fas fa-pencil-alt"></i> {% trans "Edit Group" %}</button></a>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    {% for message in messages %}
    <div class="callout {{message.tags}}">{{ message }}</div>
    {% endfor %}
  </div>
</div>

{% if inactive_contacts %}
<div class="row">
  <div class="large-12 columns">
    <div class="callout alert" role="alert">
      <p><b> <span style="color:red;">WARNING</span> </b>
	This group has {{ inactive_contacts }} inactive member(s).
    </div>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <div class="case-container">
      <ul class="tabs" data-tabs id="case-tabs" data-deep-link="true" data-update-history="true">
        <li class="tabs-title is-active"><a href="#details" aria-selected="true"> <i class="fas fa-mobile-alt"></i> Details</a></li>
        <li class="tabs-title"><a data-tabs-target="cases" href="#cases"><i class="fas fa-briefcase"></i> Cases</a></li>
      </ul>
      <div class="tabs-content" data-tabs-content="case-tabs">
        <div class="tabs-panel is-active" id="details">
	  <div class="row">
	    <div class="large-8 medium-8 small-6 columns">
	      
	      {% if object.status == "Active" %}
	      <h4>{{ object.name }} Group (Active)</h4>
	      {% else %}
	      <h4>{{ object.name }} Group (Inactive)</h4>
	      {% endif %}
	    </div>
	    <div class="large-4 medium-4 small-6 columns">
              <button class="button default dropdown menu float-right" data-dropdown-menu type="button" data-toggle="wanttomenu" aria-haspopup="true" aria-expanded="false" id="iwanttobutton">
		I want to</button>
              <div class="dropdown-pane hoverable bottom" id="wanttomenu" data-dropdown data-hover="true" data-hover-pane="true">
		<ul class="menu vertical">
		  {% if object.status == "Active" %}
                  <li><a class="dropdown-item" href="{% url 'vince:editgroup' object.id %}?deactivate=1">{% trans "Deactivate Group" %}</a></li>
                  {% else %}
                  <li><a class="dropdown-item" href="{% url 'vince:editgroup' object.id %}?activate=1">{% trans "Activate Group" %}</a></li>
                  {% endif %}
                  {% if user.is_superuser %}
                  <li><a class="dropdown-item" href="{% url 'vince:rmgroup' object.id %}">{% trans "Delete Group" %}</a></li>
                  {% endif %}
		</ul>
              </div>
            </div>
	  </div>
          <div class="row">
	    <div class="large-12 columns">
	      <b>{% trans "Description" %}:</b><br/>
	      {{ object.description }}
	    </div>
	  </div>
	  {% if object.comment %}
	  <div class="row">
	    <div class="large-12 columns">
	      <p><b>{% trans "Comment" %}:</b><br/> {{ object.comment }}</p>
	    </div>
	  </div>
          {% endif %}
	  <hr/>
	  <div class="row">
	    <div class="large-12 columns">
	      <h4>{% trans "Members" %}</h4>
	      {% for member in group_members %}
	      <ul>
		<li><a href="{% url 'vince:contact' member.contact.id %}">{{member.contact.vendor_name}}</a> {% if member.contact.active == False %}(INACTIVE){% endif %}</li>
	      </ul>
	      {% endfor %}
	      {% if groupmembers %}
	      <hr>
	      <b>GROUPS</b>
	      <hr>
	      {% endif %}
	      {% for member in groupmembers %}
	      <ul>
		<li><a href="{{ member.get_absolute_url }}">{{ member.name }}</a> </li>
	      </ul>
	      {% empty %}
	      {% if group_members %}{% else %}<p><i>No members in this group. Add members to activate group.</i></p>{% endif %}
	      {% endfor %}
	    </div>
	  </div>
	</div>
      </div>
      <div class="tabs-panel" id="cases">
	{% for c in cases %}
        <div class="contact-case-list">
          <div class="row">
            <div class="large-8 columns">
	      <h4>
                <a href="{{ c.case.get_absolute_url }}#vendors">
                  {{ c.case.get_title }}</a>
	      </h4>
              <h6> Last updated {{ c.case.modified|naturaltime }}</h6>
            </div>
            <div class="large-4 columns text-right">
              {% autoescape off %}{{ c.case.get_status_html }}{% endautoescape %}
            </div>
	  </div>
	</div>
	{% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns medium-12 small-12" id="activitypanel">
    {% include 'vince/include/alt_contact_activity.html' with activity_list=activity %}
  </div>
</div>
{% endblock %}

