{% extends VINCETRACK_BASE_TEMPLATE %}{% load i18n %}
{% block vince_title %}{% trans "Verify Contact" %}{% endblock %}
<!-- site-title  -->
{% load staticfiles %}
{% block js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'vince/js/contactverify.js' %}"></script>
{% endblock %}
{% block content %}

{% load widget_tweaks %}

<div class="app-top-panel">
  <div class="row">
    <div class="large-10 columns">
      <h2>Initialize Contact Verification</h2>
    </div>
    <div class="large-2 columns text-right">
    </div>
  </div>
</div>
{{ emails|json_script:"emails" }}
{% if ca %}
<div class="row">
  <div class="large-12 columns">
    {% if ca.complete %}
    {% if ca.restart %}
    {% else %}
    <div class="callout alert">The contact association process has already been completed for this user, please see <a href="{% url 'vince:complete_contact_list' %}">the completed contact verification list.</a></div>
    {% endif %}
    {% else %}
    <div class="callout alert">The contact association process has already been initiated for this user, please see <a href="{% url 'vince:contactlist' %}">the pending contact verification list.</a></div>
    {% endif %}
  </div>
</div>
{% endif %}

<div class="row">
  <div class="large-12 columns">
    {% for message in messages %}
    <div class="callout {{ message.tags }}">{{ message }}</div>
    {% endfor %}
  </div>
</div>


{% if form.errors %}
<div class="row">
  <div class="large-12 columns">
    <div class="callout alert">
    <p class="errornote">
      {% if form.errors.items|length == 1 %}Please correct the error below.{% else %}Please correct the errors below.{% endif %}
      {% for error in form.non_field_errors %}
      <div>
	{{ error|escape }}
      </div>
      {% endfor %}
    </p>
    </div>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="small-12 large-8 columns">
    <form id="verifyform" method="post">{% csrf_token %}
      {% if ca %}
      <div class="hidden">
	<input name="ca" value="{{ ca.id }}">
      </div>
      {% endif %}
      {% for field in form %}

      {% if field.name == "email" %}
      <label for='id_{{ field.name }}'>{% trans field.label %}{% if field.field.required %} <span class='required'>*</span>{% endif %} </label>
      <div class="taggle input custom" id="email_tags"></div>
        {% if field.errors %}<dd class='error'>{{ field.errors }}</dd>{% endif %}

      {% else %}
      

      <div class="form-group">
        <label for='id_{{ field.name }}'>{% trans field.label %}{% if field.field.required %} <span class='required'>*</span>{% endif %} {% if field.name == "email_body" %}<a href="#refresh" title="Customize email with above information" id="customize"><i class="fas fa-sync-alt"></i></a>{% endif %}</label>
        {% if field.help_text %}<small class='form-text text-muted'>{% trans field.help_text %}</small>{% endif %}

        {{ field }}
        {% if field.errors %}<dd class='error'>{{ field.errors }}</dd>{% endif %}

      </div>
      	{% endif %}

      {% endfor %}

      <div class="row submitrow">
	<div class="large-12 columns">
	  <input type="submit" value="Submit" name="vrfSubmit" class="primary button"/>
	  <a href="{% url 'vince:searchcontacts' %}" class="button secondary">Cancel</a>
	</div>
      </div>
    </form>
  </div>
</div>


{% endblock %}
