{% load i18n %}
<div class="fullmodal">
  <form id="edittemplate" action="{% url 'vince:newtmpl' %}" name="editForm" enctype="multipart/form-data" method="POST">
    <div class="modal-content">
    <div class="modal-header">
      <div class="modal-title">Create New Case Template</div>
    </div>
    <div class="modal-body">
      {% csrf_token %}
      {% for field in form %}
      {% if field.name in "vendor_email,participant_email" %}
      {% else %}
      <div class="form-group">
        <div class="row">
          <div class="large-4 columns">
	    <label for='id_{{ field.name }}'>{% trans field.label %}{% if field.field.required %} <span class='required'>*</span>{% endif %}</label>
          </div>
          <div class="large-8 columns">
	    {{ field }}
	    {% if field.help_text %}<small class='form-text text-muted'>{% trans field.help_text %}</small>{% endif %}
	    {% if field.errors %}<dd class='error'>{{ field.errors }}</dd>{% endif %}
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="modal-footer text-right">
      <button type="submit" name="vrfSubmit" class="primary button"><i class="fas fa-plus"></i> Save Template</button>
    </div>
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
    </form>
</div>


		
