{% extends "martie/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'martie/css/style.css' %}" />

<!--<link rel="stylesheet" type="text/css" href="{% static 'admin/css/login.css' %}" />-->
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }}login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}


{% block content %}
  <p>
    Your password has been set. You may go ahead and <a href="{% url 'martie:login' %}">sign in</a> now.
  </p>
{% endblock %}


{% block footer %}

<div id="login-footer">
  <div id="footer-info">
    <div id="cmu-logo">
      <img src="{% static 'vince/css/images/CMU_logo__white.png' %}">
    </div>
    <div id="login-copyright">©2018 Carnegie Mellon University</div>
  </div>
</div>


{% endblock %}
