{% extends "martie/base_site.html" %}

{% load i18n static %}

{% block extrastyle %}{{ block.super }}

<link rel="stylesheet" type="text/css" href="{% static 'martie/css/style.css' %}" />
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }}login{% endblock %}

{% block content_title %}<h1>Change Martie Password</h1>{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
  {% if validlink %}
    <form method="post">
      {% csrf_token %}
      <div class="form-row">
	{{ form.new_password1.errors }}
	{{ form.new_password1.label_tag }} {{ form.new_password1 }}
  </div>
      <div class="form-row">
	{{ form.new_password2.errors }}
	{{ form.new_password2.label_tag }} {{ form.new_password2 }}
  </div>
      <div class="submit-row">
	<input type="submit" value="{% trans 'Change Password' %}" />
      </div>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}


{% block footer %}

<div id ="footer">
  <div id ="footer-info">
    <div id ="cmu-logo">
      <img src="{% static 'vince/css/images/CMU_logo__white.png' %}">
    </div>
    <div id ="copyright">©2018 Carnegie Mellon University</div>
  </div>
</div>


{% endblock %}
