{% extends "martie/base_site.html" %}

{% load i18n static %}

{% block extrastyle %}{{ block.super }}

<link rel="stylesheet" type="text/css" href="{% static 'martie/css/style.css' %}" />
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }}login{% endblock %}

{% block content_title %}<h1>Martie Password Reset Done</h1>{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
  <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
  <p> <a href="{% url 'martie:login' %}">Login</a></p>

{% endblock %}


{% block footer %}

<div id="login-footer">
  <div id="footer-info">
    <div id="cmu-logo">
      <img src="{% static 'vince/css/images/CMU_logo__white.png' %}">
    </div>
    <div id="login-copyright">© {% now "Y" %} Carnegie Mellon University</div>
  </div>
</div>


{% endblock %}

