{% extends VINCETRACK_BASE_TEMPLATE %}{% load i18n report_tags ticket_to_link %}
<!-- site-title  -->
{% block vince_title %}{% trans "Reports" %}{% endblock %}
{% load staticfiles %}
{% block js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'vince/js/reports.js' %}"></script>
{% endblock %}
{% block content %}

{% load widget_tweaks %}
<div class="app-top-panel">
  <div class="row">
    <div class="large-8 columns">
      <h2>{{ my_team.name }} Report</h2>
    </div>
    <div class="large-4 columns text-right">
      <a href="{% url 'vince:printreport' my_team.id month year %}" class="button cmu primary"><i class="fas fa-print"></i> Print Report</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-3 columns">&nbsp;</div>
  <div class="large-6 columns">
    <div class="text-center">
      <ul class="pagination-pointed pagination text-center" role="navigation" aria-label="Pagination">
        <li class="pagination-previous">
          <a class="pagination-pointed-button" href="?month={{ month|add:"-1" }}&year={{year}}" aria-label="Previous month">Previous <span class="show-for-sr">page</span></a>
        </li>
        {% blocktrans %}
          <li class="current"><span class="show-for-sr">You're on page</span> {{ monthstr }} {{ year }}</li>
        {% endblocktrans %}
        {% if show_next %}
          <li class="pagination-next"><a class="pagination-pointed-button" href="?month={{ month|add:"1"}}&year={{year}}" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
        {% else %}
    	  <li class="pagination-next disabled"><a class="pagination-pointed-button" href="#" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
	      {% endif %}
      </ul>
    </div>
  </div>
  <div class="large-3 columns">
    {% if teams %}
      <button class="button default dropdown menu float-right" data-dropdown-menu type="button" data-toggle="switchteam" aria-haspopup="true" aria-expanded="false" id="switchteambutton">Switch Team</button>
      <div class="dropdown-pane hoverable bottom" id="switchteam" data-dropdown data-hover="true" data-hover-pane="true">
        <ul class="menu vertical">
          {% for t in teams %}
            {% if t == my_team %}
            {% else %}
              <li><a class="dropdown-item" href="{% url 'vince:reports' t.id %}">{{ t.name }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</div>

<hr>

<div id="reports_page_wrapper">

  
  <div class="row">
    <div class="large-12 columns">
      <h3 class="section-title expandable-section-heading" id="vulnotes_expand"><i class="expandable-section-heading-icon fas fa-caret-right vulnotes_expand"></i> Vulnerability Notes</span></h3>
    </div>
  </div>


  <div id="reports_page_vulnotes" href="{% url 'vince:reports_page_vulnotes' my_team.id %}?month={{ month }}&year={{ year }}" class="asyncload autoload asyncrefresh vulnotes_expand collapse">
    <!-- Load this async -->
  </div>

  <hr>

  <div class="row">
    <div class="large-8 columns">
      <h3 class="section-title expandable-section-heading" id="emails_expand"><i class="expandable-section-heading-icon fas fa-caret-right emails_expand"></i> Emails</h3>
    </div>
  </div>

  <div id="reports_page_emails" href="{% url 'vince:reports_page_emails' my_team.id %}?month={{ month }}&year={{ year }}" class="asyncload autoload asyncrefresh emails_expand collapse">
    <!-- Load this async -->
  </div>

  <hr>

  <div class="row">
    <div class="large-12 columns">
      <h3 class="section-title expandable-section-heading" id="cases_expand"><i class="expandable-section-heading-icon fas fa-caret-right cases_expand"></i> Cases</h3>
    </div>
  </div>

  <div id="reports_page_cases" href="{% url 'vince:reports_page_cases' my_team.id %}?month={{ month }}&year={{ year }}" class="asyncload autoload asyncrefresh cases_expand collapse">
    <!-- Load this async -->
  </div>

  <hr>

  {% if fwd_reports %}
    <div class="row">
      <div class="large-12 columns">
        <h3 class="section-title" id="fwd_reports_expand"><i class="expandable-section-heading-icon fas fa-caret-right fwd_reports_expand"></i> Forwarded Reports {{ monthstr }} {{ year }}</h3>
      </div>
    </div>

    <div class="fwd_reports_expand collapse">
      <div class="row">
        <div class="large-12 columns">
          <div class="thread-messages">
            {% for r in fwd_reports %}
              <div> <a href="{% url 'vince:ticket' r.ticket.id %}">[{{ r.ticket.queue }}-{{ r.ticket.id }}] {{ r.ticket.title }}</a></div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <hr>
  {% endif %}

  <div class="row">
    <div class="large-6 columns">
      <h3 class="section-title expandable-section-heading" id="tickets_expand"><i class="expandable-section-heading-icon fas fa-caret-right tickets_expand"></i> Tickets</span></h3>
    </div>
  </div>


  <div id="reports_page_tickets" href="{% url 'vince:reports_page_tickets' my_team.id %}?month={{ month }}&year={{ year }}" class="asyncload autoload asyncrefresh tickets_expand collapse">
    <!-- Load this async -->
  </div>

  <hr>

  <div class="row">
    <div class="large-6 columns">
      <h3 class="section-title expandable-section-heading" id="user_stats_expand"><i class="expandable-section-heading-icon fas fa-caret-right user_stats_expand"></i> VINCE User Stats</h3>
    </div>
    <div class="large-6 columns text-right user_stats_expand collapse-inline">
      <a href="{% url 'vince:usergraphs' %}" class="button primary">User Graphs</a>
    </div>
  </div>


  <div id="reports_page_userstats" href="{% url 'vince:reports_page_userstats' my_team.id %}?month={{ month }}&year={{ year }}" class="asyncload autoload asyncrefresh user_stats_expand collapse">
    <!-- Load this async -->
  </div>

  <hr>

  <div class="row">
    <div class="large-6 columns">
      <h3 class="section-title expandable-section-heading" id="current_ticket_status_expand"><i class="expandable-section-heading-icon fas fa-caret-right current_ticket_status_expand"></i> Current Ticket Status</h3>
    </div>
    <div class="large-6 columns"></div>
  </div>

  <div id="reports_page_current_ticket_status" href="{% url 'vince:reports_page_current_ticket_status' my_team.id %}?month={{ month }}&year={{ year }}" class="asyncload autoload asyncrefresh current_ticket_status_expand collapse">
    <!-- Load this async -->
  </div>

  <hr>

  <div id="reports_page_cves" href="{% url 'vince:reports_page_cves' my_team.id %}?month={{ month }}&year={{ year }}" class="asyncload autoload asyncrefresh">
    <!-- Load this async -->
  </div>

  <div class="row">
    <div class="large-6 columns">
      <h3 class="section-title expandable-section-heading" id="tags_expand"><i class="expandable-section-heading-icon fas fa-caret-right tags_expand"></i> Tags </h3>
    </div>
    <div class="large-6 columns"></div>
  </div>


<div id="reports_page_tags" href="{% url 'vince:reports_page_tags' my_team.id %}?month={{ month }}&year={{ year }}" class="asyncload autoload asyncrefresh tags_expand collapse">
    <!-- Load this async -->
  </div>

  <hr>

  <div class="row">
    <div class="large-6 columns">
      <h3 class="section-title" id="download-csv"> Download Weekly Reports in CSV Format</h3>
    </div>
    <div class="large-6 columns"></div>
  </div>

  <div id="reports_page_cownload_csv">
    <div class="row">
      <div class="large-12 columns">
        <div>
          <a href="{% url 'vince:weekly_csv_new_reports_submissions' %}">New Reports or Submissions</a>
        </div>
        <div>
          <a href="{% url 'vince:weekly_csv_active_cases_in_progress' %}">Active Cases in Progress</a>
        </div>
        <div>
          <a href="{% url 'vince:weekly_csv_completed_cases' %}">Completed Cases - Closure & Out</a>
        </div>
        <div>
          <a href="{% url 'vince:weekly_csv_cases_published_cves' %}">Cases with Published CVEs</a>
        </div>
      </div>
      <div class="large-6 columns"></div>
  </div>
  
  </div>



  {% comment "not using this currently" %}
    <div class="row">
      <div class="large-6 columns">
        <h3 class="section-title">Filters</h3>
        <div class="callout">
          <a href="{% url 'vince:cnovreport' %}">Cases without vendors</a>
        </div>
      </div><div class="large-6 columns"></div>
    </div>
  {% endcomment %}
  {% endblock %}

</div>