{% extends VINCETRACK_BASE_TEMPLATE %}
{% load i18n humanize widget_tweaks%}
{% load staticfiles %}
{% block content %}
</script>  

<div class="app-top-panel">
  <div class="row">
    <div class="large-6 columns">
      <h2>Search User by Email</h2>
    </div>
    <div class="large-6 columns"></div>
  </div>
</div>


<div class="row">
  <div class="large-12 columns">
    {% for message in messages %}
    <div class="callout success">{% if message.tags %}{% endif %}{{ message }}</div>
    {% endfor %}
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
  </div>
</div>
<form method="post" action="{% url 'vince:cognito_user' %}">
  {% csrf_token %}
  <div class="row">
    <div class="large-6 columns">
      {{ form.as_p }}
      <input type="submit" value="Search" class="button primary">
    </div>
  </div>
</form>


{% endblock %}
