{% load i18n humanize %}
<div class="row">
  <div class="large-12 columns">
    <div class="ticket-table">
      <!-- /.panel-heading -->
      <table class="hover">
	<thead>
          <tr>
	    <th>#</th>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Last Update" %}</th>
          </tr>
	</thead>
	<tbody>
	  {% for ticket in ticket_list %}
          <tr class="{{ ticket.get_priority_css_class }}">
	    
            <td><a href='{{ ticket.get_absolute_url }}'>{{ ticket.ticket }}</a></td>
            <td><a href='{{ ticket.get_absolute_url }}'>{{ ticket.title }}</a></td>
            <td>{{ ticket.get_status }}</td>
            <td><span title='{{ ticket.modified|date:"r" }}'>{{ ticket.modified|naturaltime }}</span></td>
          </tr>
          {% empty %}
          <tr>{% if ticket_list_empty_message %}<td colspan='6'>{{ ticket_list_empty_message }}</td>{% else %}<td colspan='6'>{% trans "You do not have any pending tickets." %}</td>{% endif %}</tr>
          {% endfor %}
	</tbody>
      </table>
    </div>
  </div>
</div>
