{% load i18n humanize%}
<div class="row" id="comment">
  <div class="small-12 large-12 columns">
    <h3 class="section-title">Comment</h3>
    <form method="post" id="commentform" action="{{ comm_action }}" enctype='multipart/form-data' {% if close_confirm %}confirm="{% url 'vince:closeticket' ticket.id %}"{% endif %}>
      {% csrf_token %}
      <div class="row">
        <div class="large-8 columns">
	  <div class="form-group">
	    <label for='commentBox'>{% trans "Comment / Resolution" %}</label>
	    <small class='form-text text-muted'>{% trans "If you are closing this ticket, the text entered below will become the resolution for this ticket. To replace the resolution, you must first reopen this ticket, and then resolve the ticket with a new resolution. All comments are internal VINCETrack notes." %}</small>
	    
	    <textarea rows='8' cols='70' name='comment' id='commentBox' {% if case %}required{% endif %}></textarea>
          </div>
	  {% if case %}{% else %}
          <div class="form-group">
	    <label for="new_status">New Status</label>
	    {% if not ticket.can_be_resolved %}<dd>{% trans "This ticket cannot be resolved or closed until the tickets it depends on are resolved." %}</dd>{% endif %}
	    {% ifequal ticket.status 1 %}
	    <input type='radio' name='new_status' value='1' id='st_open' checked='checked'><label for='st_open'>{% trans "Open" %} &raquo;</label>
	    <input type='radio' name='new_status' value='6' id='st_progress'><label for='st_progress'>{% trans "In Progress" %} &raquo;</label>
	    <input type='radio' name='new_status' value='3' id='st_resolved'{% if not ticket.can_be_resolved %} disabled='disabled'{% endif %}><label for='st_resolved'>{% trans "Resolved" %} &raquo;</label>
	    <input type='radio' name='new_status' value='4' id='st_closed'{% if not ticket.can_be_resolved %} disabled='disabled'{% endif %}><label for='st_closed'>{% trans "Closed" %} &raquo;</label>
	    <input type='radio' name='new_status' value='5' id='st_duplicate'><label for='st_duplicate'>{% trans "Duplicate" %}</label>
	    {% endifequal %}
	    {% ifequal ticket.status 2 %}
	    <input type='radio' name='new_status' value='2' id='st_reopened' checked='checked'><label for='st_open'>{% trans "Reopened" %} &raquo;</label>
	    <input type='radio' name='new_status' value='6' id='st_progress'><label for='st_progress'>{% trans "In Progress" %} &raquo;</label>
	    <input type='radio' name='new_status' value='3' id='st_resolved'{% if not ticket.can_be_resolved %} disabled='disabled'{% endif %}><label for='st_resolved'>{% trans "Resolved" %} &raquo;</label>
	    <input type='radio' name='new_status' value='4' id='st_closed'{% if not ticket.can_be_resolved %} disabled='disabled'{% endif %}><label for='st_closed'>{% trans "Closed" %} &raquo;</label>
	    <input type='radio' name='new_status' value='5' id='st_duplicate'><label for='st_duplicate'>{% trans "Duplicate" %}</label>
	    {% endifequal %}
	    {% ifequal ticket.status 3 %}
	    <input type='radio' name='new_status' value='2' id='st_reopened'><label for='st_reopened' >{% trans "Reopened" %} &laquo;</label>
	    <input type='radio' name='new_status' value='6' id='st_progress'><label for='st_progress'>{% trans "In Progress" %} &raquo;</label>
	    <input type='radio' name='new_status' value='3' id='st_resolved' checked='checked'><label for='st_resolved' >{% trans "Resolved" %} &raquo;</label>
	    <input type='radio' name='new_status' value='4' id='st_closed'><label for='st_closed'>{% trans "Closed" %}</label>
	    {% endifequal %}
	    {% ifequal ticket.status 4 %}
	    <input type='radio' name='new_status' value='2' id='st_reopened'><label for='st_reopened'>{% trans "Reopened" %} &laquo;</label>
	    <input type='radio' name='new_status' value='4' id='st_closed' checked='checked'><label for='st_closed'>{% trans "Closed" %}</label>
	    {% endifequal %}
	    {% ifequal ticket.status 5 %}
	    <input type='radio' name='new_status' value='2' id='st_reopened'><label for='st_reopened'>{% trans "Reopened" %} &laquo;</label>
	    <input type='radio' name='new_status' value='5' id='st_duplicate' checked='checked'><label for='st_duplicate'>{% trans "Duplicate" %}</label>
	    {% endifequal %}
	    {% ifequal ticket.status 6 %}
            <input type='radio' name='new_status' value='6' id='st_progress' checked='checked'><label for='st_progress'>{% trans "In Progress" %} &raquo;</label>
            <input type='radio' name='new_status' value='3' id='st_resolved'{% if not ticket.can_be_resolved %} disabled='disabled'{% endif %}><label for='st_resolved'>{% trans "Resolved" %} &raquo;</label>
            <input type='radio' name='new_status' value='4' id='st_closed'{% if not ticket.can_be_resolved %} disabled='disabled'{% endif %}><label for='st_closed'>{% trans "Closed" %} &raquo;</label>
            <input type='radio' name='new_status' value='5' id='st_duplicate'><label for='st_duplicate'>{% trans "Duplicate" %}</label>
	    {% endifequal %}
          </div>
	  {% endif %}
	  {% if case %}
	  <input type="submit" value="Post Comment" name="vrfSubmit" class="primary button"/>
	  {% else %}
          <input type="submit" value="Update" name="vrfSubmit" class="primary button"/>
	  {% endif %}
	</div>
	<div class="large-4 columns"></div>
      </div>
    </form>
  </div>
</div>
