<div class="large-3 medium-3 columns" data-sticky-container>
  <div class="sticky" data-sticky data-anchor="content">
    <div class="sidebar-links">
      <ul class="menu vertical">
	<li><a href="https://certcc.github.io/CERT-Guide-to-CVD/reference/policy_templates/receivers/?h=vulnerability+notes" target="_blank" rel="noopener">About vulnerability notes</a></li>
	<li><a href="mailto:cert@cert.org?Subject=VU%23{{ object.idnumber }} Feedback">Contact us about this vulnerability</a></li>
	<li><a href="https://certcc.github.io/VINCE-docs/Case-Handling/" target="_blank" >Provide a vendor statement</a></li>
      </ul>
    </div>
  </div>
</div>
