{% extends "vincepub/base.html" %}

{% block content %}
<div class="row columns">
  <nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
      <li><a href="{% url 'vincepub:index' %}">Home</a></li>
      <li><span class="show-for-sr">Current: </span> Disclosure Guidance</li>
    </ul>
  </nav>
</div>
 <div class="row">
   <div class="large-8 medium-8 columns">
     <div class="row">
       <div class="large-12 medium-12 columns">
	 <h2 class="subtitle"> Vulnerability Disclosure Guidance </h2>
       </div>
     </div>
     <div class="row">
       <div class="large-12 medium-12 columns">
	 <div class="blog-post">
	   <h3 class="subtitle">What is Vulnerability Coordination?</h3>
	   <p class="lead-body">During vulnerability coordination, multiple stakeholders analyze a vulnerability to be able to disclose it to the public and provide guidance on how to mitigate or fix it.</p>
	   <p class="lead-body">
	     A vulnerability is difficult to define. It can be thought of as a flaw in software or hardware components that allows an attacker to perform actions that wouldn't normally be allowed. The impact of such vulnerabilities varies greatly. They may allow the attacker to learn someone's private email address, take control of a computer, or even cause physical damage and bodily injury.</p>
	   <p class="lead-body">At CERT/CC, our goal is to coordinate with the various stakeholders and make sure the vulnerability is addressed accordingly and that the correct information reaches the public.</p>
	   <a href="https://certcc.github.io/CERT-Guide-to-CVD/" target="_blank" rel="noopener" class="link-cta"> Read more </a>
	 </div>
       </div>
     </div>
   </div>
   <div class="large-4 medium-4 columns">
     <div id="sidebar">
       <ul>
	 <li><a href="https://vuls.cert.org/confluence/display/CVD" target="_blank" rel="noopener">CERT Guide to Coordinated Vulnerability Disclosure</a></li>
	 <li><a href="https://certcc.github.io/certcc_disclosure_policy/" target="_blank" rel="noopener">CERT/CC's Vulnerability Disclosure Policy</a></li>
	 <li><a href="https://certcc.github.io/CERT-Guide-to-CVD/tutorials/coord_certcc/" target="_blank" rel="noopener">Understanding the Coordination Process</a></li>
	 <li> <a href="https://certcc.github.io/CERT-Guide-to-CVD/tutorials/response_process/reporter/" target="_blank" rel="noopener">How to Report a Vulnerability</a></li>
	 <li><a href="https://certcc.github.io/VINCE-docs/Case-Handling/#giving-a-vendor-status-and-statement" target="_blank" rel="noopener">Respond to a Vulnerability Report</a></li>
       </ul>
     </div>
   </div>
 </div>

{% endblock %}
 
