{% extends "vulcoord/base.html" %}
{% load staticfiles %}
{% block content %}

  









<div class="row columns callout cert-callout">
  <div class =" large-2 medium-2 columns"><a class="cert-seal" href="https://www.cert.org/">CERT</a>
  </div>
  <div class =" large-10 medium-10 columns">
        <h1><a href=" https://insights.sei.cmu.edu/divisions/cert/">The CERT Division</a></h1>
        <p>The CERT Division is a leader in cybersecurity. We partner with government, industry, law enforcement, and academia to improve the security and resilience of computer systems and networks. We study problems that have widespread cybersecurity implications and develop advanced methods and tools to counter large-scale, sophisticated cyber threats.</p>
      </div>
      </div>

<div class="row">
  <div class="large-12 columns">
    <h1>CMU Foundation Theme Usage</h1>
  </div>
</div> 

<div class="row">
  <div class="large-12 columns">
    <div class="callout">
      <h3>Here are some examples of the modules contained in the CSS </h3>
      <p class="lead-body"> <span class="strong"> (Here is a Lead Paragraph)</span> The Vulnerability Notes Database contains two types of documents: Vulnerability Notes that describe vulnerabilities that may affect one or more vendors, and Vendor Information documents (also called vendor records), that provide vendor-specific information (e.g., solutions, workarounds, references, and status) about a vulnerability. The fields in each of these documents are described below in more detail.</p>
      <p class="blockquote"><span class="strong"> (A Block Quote) </span>Vulnerability Notes that describe vulnerabilities that may affect one or more vendors, and Vendor Information documents (also called vendor records), that provide vendor-specific information (e.g., solutions, workarounds, references, and status) about a vulnerability. The fields in each of these documents are described below in more detail.</p>
      <div class="row">
        <div class="large-4 medium-4 columns">
          <p><a href="http://foundation.zurb.com/docs">Foundation Documentation</a><br />Everything you need to know about using the framework.</p>
        </div>
        <div class="large-4 medium-4 columns">
          <p><a href="http://zurb.com/university/code-skills">Foundation Code Skills</a><br />These online courses offer you a chance to better understand how Foundation works and how you can master it to create awesome projects.</p>
        </div>
        <div class="large-4 medium-4 columns">
          <p><a href="http://foundation.zurb.com/forum">Foundation Forum</a><br />Join the Foundation community to ask a question or show off your knowledge.</p>
        </div>
      </div>
      <div class="row">
        <div class="large-4 medium-4 medium-push-2 columns">
          <p><a href="http://github.com/zurb/foundation">Foundation on Github</a><br />Latest code, issue reports, feature requests and more.</p>
        </div>
        <div class="large-4 medium-4 medium-pull-2 columns">
          <p><a href="https://twitter.com/ZURBfoundation">@zurbfoundation</a><br />Ping us on Twitter if you have questions. When you build something with this we'd love to see it (and send you a totally boss sticker).</p>
        </div>        
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-8 medium-8 columns">
    <h5>Here&rsquo;s your basic grid:</h5>
    <!-- Grid Example -->

    <div class="row">
      <div class="large-12 columns">
        <div class="primary callout">
          <p><strong>This is a twelve column section in a row.</strong> Each of these includes a div.callout element so you can see where the columns are - it's not required at all for the grid.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-6 medium-6 columns">
        <div class="primary callout">
          <p>Six columns</p>
        </div>
      </div>
      <div class="large-6 medium-6 columns">
        <div class="primary callout">
          <p>Six columns</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-4 medium-4 small-4 columns">
        <div class="primary callout">
          <p>Four columns</p>
        </div>
      </div>
      <div class="large-4 medium-4 small-4 columns">
        <div class="primary callout">
          <p>Four columns</p>
        </div>
      </div>
      <div class="large-4 medium-4 small-4 columns">
        <div class="primary callout">
          <p>Four columns</p>
        </div>
      </div>
    </div>
    
    <hr />
            
    <h5>We bet you&rsquo;ll need a form somewhere:</h5>
    <form>
      <div class="row">
        <div class="large-12 columns">
          <label>Input Label</label>
          <input type="text" placeholder="large-12.columns" />
        </div>
      </div>
      <div class="row">
        <div class="large-4 medium-4 columns">
          <label>Input Label</label>
          <input type="text" placeholder="large-4.columns" />
        </div>
        <div class="large-4 medium-4 columns">
          <label>Input Label</label>
          <input type="text" placeholder="large-4.columns" />
        </div>
        <div class="large-4 medium-4 columns">
          <div class="row collapse">
            <label>Input Label</label>
            <div class="input-group">
              <input class="input-group-field" type="text" placeholder="input-group" />
              <span class="input-group-label">.com</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Select Box</label>
          <select>
            <option value="husker">Husker</option>
            <option value="starbuck">Starbuck</option>
            <option value="hotdog">Hot Dog</option>
            <option value="apollo">Apollo</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="large-6 medium-6 columns">
          <label>Choose Your Favorite</label>
          <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Radio 1</label>
          <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Radio 2</label>
        </div>
        <div class="large-6 medium-6 columns">
          <label>Check these out</label>
          <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
          <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Textarea Label</label>
          <textarea placeholder="small-12.columns"></textarea>
        </div>
      </div>
    </form>
  </div>     

  <div class="large-4 medium-4 columns">
    <h5>Try one of these buttons:</h5>
    <p><a href="#" class="btn wide ghost">Simple Button</a><br/> 
    	<a href="#" class="btn wide invert ">Inverted Button</a><br/> 

    <a href="#" class="btn wide btn-success">Success Btn</a><br/>
    <a href="#" class="btn wide btn-warning">Warning Btn</a><br/>
    <a href="#" class="btn wide btn-danger">Danger Btn</a></p>           
    <div class="callout">
      <h5>So many components, girl!</h5>
      <p>A whole kitchen sink of goodies comes with Foundation. Check out the docs to see them all, along with details on making them your own.</p>
      <a href="http://foundation.zurb.com/docs/" class="small button">Go to Foundation Docs</a>          
    </div>
  </div>
</div>














{% endblock %}