    <div id="sidebar">
      <ul>
        <li><a href="{{ DOC_URLS.CVD_FOR_REPORTERS }}" target="_blank">Information for Vulnerability Reporters</a></li>
        <li><a href="{{ DOC_URLS.CVD_COORD_PROCESS }}" target="_blank" rel="noopener">Understanding the Coordination Process</a></li>
        <li><a href="{% url 'vincepub:initreport' %}">Submit Another Report</a></li>
        <li><a href="{{ DOC_URLS.CVD_WHAT_IS_CVE }}" target="_blank" rel="noopener">What is CVE?</a></li>
      </ul>
    </div>
