<div class="large-3 medium-3 columns" data-sticky-container>
  <div class="sticky" data-sticky data-anchor="content">
    
    <div class="sidebar-links">
      <h2 class="subtitle"><i>View Notes By</i></h2>
      <ul class="menu vertical">
        <li><a href="{% url 'vincepub:viewbypublish' 'desc' %}">Date Published</a></li>
        <li><a href="{% url 'vincepub:viewbypublic' 'desc' %}">Date Public</a></li>
        <li><a href="{% url 'vincepub:viewbyupdate' 'desc' %}">Date Updated</a></li>
        <li><a href="{% url 'vincepub:viewbycvss' 'desc' %}">CVSS Score</a></li>
      </ul>
    </div>
  </div>
</div>
