    <div id="sidebar">
      <ul>
        <li><a href="{{ DOC_URLS.CVD_FOR_VENDORS }}" target="_blank">Information for Vendors</a></li>
        <li><a href="{{ DOC_URLS.CVD_COORD_PROCESS }}" target="_blank" rel="noopener">Understanding the Coordination Process</a></li>
        <li><a href="{{ DOC_URLS.CVD_WORKING_WITH_CERTCC }}" target="_blank" rel="noopener">Working with the CERT/CC</a></li>
	<li><a href="{{ DOC_URLS.VINCE_VENDOR_CONTACT }}" target="_blank" rel="noopener">Update Vendor Contact Information</a></li>

      </ul>
    </div>
