{% extends "vincepub/vudetail.html" %}
{% load i18n static markdown_extras vulnote_tags %}
{% block content %}
<div class="row columns">
  <nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
      <li><a href="{% url 'vincepub:index' %}">Home</a></li>
      <li><a href="{% url 'vincepub:viewbypublish' 'desc' %}">Notes</a></li>
      <li><span class="show-for-sr">Current: </span> {{ object.vuid }}</li>
    </ul>
  </nav>
</div>
{% include 'vincepub/include/vuheader.html' %}
{% if revision and revision.deleted %}
<div class="callout alert">
  <strong>{% trans "This revision has been deleted." %}</strong>
  <p>{% trans "Restoring to this revision will mark the article as deleted." %}</p>
</div>
{% endif %}
<div class="row" id="content">
  <div class="large-9 medium-9 columns">
    <div class="blog-post">
      <div class="row">
        <div class="large-12 columns">
	  {% autoescape off %}
	  {{ object.vulnote.content | markdown | safe }}
	  {% endautoescape %}
	</div>
      </div>
      <div class="row">
	<div class="large-12 columns">
	  <h3 id="vendor-information">Vendor Information</h3>
	  {% if object.vulnote.vendors.all|length > 0 %}
	  {% include 'vincepub/vendorswitch.html' %}
	  <div id="vendorinfo">
	    {% include 'vincepub/vincepubvendorinfo.html' with object_list=object.vulnote.vendors.all|filter_by_status %}
	  </div>
	  {% else %}
	  <p>This advisory information is generic and does not describe any specific instance of this type of problem,
	    so no vendors have been notified or listed here.
	  <p>
	    {% endif %}
	</div>
      </div>
      <br/>
      {% if object.cvss_basescore %}
      <h3 id="cvss-metrics">CVSS Metrics</h3>
      <div class="vulcontent">
        <table>
          <thead>
            <tr>
              <th>Group</th>
              <th>Score</th>
              <th>Vector</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> Base </td>
              <td> {{ object.cvss_basescore }}</td>
              <td> {{ object.cvss_basevector }}</td>
            </tr>
            <tr>
              <td> Temporal </td>
              <td> {{ object.cvss_temporalscore }}</td>
              <td> {{ object.cvss_temporalvector }} </td>
            </tr>
            <tr>
              <td> Environmental </td>
              <td> {{ object.cvss_environmentalscore|floatformat:-1 }}</td>
              <td> {{ object.cvss_environmentalvector }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br/>
      {% endif %}
      {% if object.vulnote.references %}
      <div class="row">
	<div class="large-12 columns">
	  <h3 id="references">References</h3>
	  <ul>
	    {% with refs=object.vulnote.references|splitlines %}
	    {% for ref in refs %}
	    {% if ref|slice:":7" in "http://,https:/" %}
            <li><a href="{{ref}}" class="vulreflink safereflink" target="_blank" rel="noopener">{{ ref }}</a></li>
            {% else %}
            <li>{{ref}}</li>
            {% endif %}
          {% endfor %}
	  {% endwith %}
	  </ul>
	</div>
      </div>
      {% endif %}
      <h3 id="other-information">Other Information</h3>
        <div class="vulcontent">
          <table class="unstriped">
            <tbody>
	      {% if object.vulnote.notevuls.all|cvevuls|length > 0 %}
              <tr>
                <td width="200"><b>CVE IDs:</b></td>
		<td>
		{% for vuln in object.vulnote.notevuls.all|sortvuls %}
		{% if vuln.cve %}
                <a href="http://web.nvd.nist.gov/vuln/detail/{{ vuln.vul }}">{{ vuln.vul }}  </a>
		{% endif %}
                {% endfor %}
		</td>
	      </tr>
	      {% endif %}
              <tr>
                <td><b>API URL: </b></td>
                <td><a href="{% url 'vincepub:index' %}api/{{ object.idnumber }}/" target="_blank">VINCE JSON</a> | <a href="{% url 'vincepub:vulcsaf' object.idnumber %}" target="_blank">CSAF</a></td>
              </tr>
	      <tr>
		<td>
		  <b>Date Public:</b>
		</td>
                <td>{% if object.vulnote.publicdate %}{{ object.vulnote.publicdate|date:"Y-m-d" }}{% else %}{{object.datefirstpublished|date:"Y-m-d" }}{% endif %}</td>
              </tr>
              <tr>
                <td><b>Date First Published:</b></td>
                <td id="datefirstpublished">{{object.datefirstpublished|date:"Y-m-d" }}</td>
              </tr>
              <tr>
                <td><b>Date Last Updated: </b></td>
                <td>{{ object.vulnote.dateupdated|date:"Y-m-d H:i e" }}</td>
              </tr>
              <tr>
                <td><b>Document Revision: </b></td>
                <td>{{ object.vulnote.revision_number }} </td>
              </tr>
            </tbody>
          </table>
	</div>
    </div>
  </div>
  {% include "vincepub/detail_sidebar.html" %}
</div>
    
{% endblock %}
    
