{% load i18n %}
<div class="fullmodal">
  <form method='post' id="confirmform" action="{% url 'vinny:promoteuser' gc.id puser.id %}">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% trans "Confirm User Action" %}</h5>
      </div>
      <div class="modal-body">
        {% csrf_token %}
	{% if remove_confirm %}
        <p>Are you sure you want to remove this user's group administrator privileges?
	</p>
	{% elif promote_confirm %}
	<p>Are you sure you want to give this user group administrator privileges?  This user will be able to add and remove users, edit contact information, and view all cases associated with this organization.
	</p>
	{% endif %}
      </div>
      <div class="modal-footer text-right">
        <a href="#" class="hollow button" data-close type="cancel">Cancel</a>
        <input class="button alert" type='submit' value='{% trans "Yes, Confirm" %}' />
      </div>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </form>
</div>
