{% load i18n humanize post_tags %}
{% if report.crfollowup_set.all %}
<div class="row">
  <div class="large-12 columns">
    <div class="article-row-section">
      <div class="article-row-section-inner">
	<h3 class="section-title">{% trans "Activity" %}</h3>
	{% for followup in report.crfollowup_set.all  %}
	<article class="article-row">
	  <div class="article-row-img">
	    {% autoescape off %}
	    {% if followup.user %}
	    {{ followup.user|userlogo:"profile-pic" }}
	    {% else %}
	    {{ followup|followupaction }}
	    {% endif %}
	    {% endautoescape %}
	  </div>
	  <div class="article-row-content">
            <p class="article-row-content-description cr-activity">{{ followup.user.vinceprofile.vince_username }} {{ followup.title }}
	    </p>
              {% if followup.comment %}
	    <p>{{ followup.comment|force_escape|urlizetrunc:50|linebreaksbr }}</p>
	      {% endif %}
	      </p>
            <time class="article-row-content-time">{{ followup.date|date:"Y-m-d" }} ({{ followup.date|naturaltime }})</time>
	  </div>
	</article>
	{% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}

  
