{% load i18n %}
<div class="fullmodal">
  <form method='post' id="genservice" action="{% url 'vinny:createservice' gc.id %}">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% trans "Generate Service Account" %}</h5>
      </div>
      <div class="modal-body">
        {% csrf_token %}
	{% for field in form %}
          <div class="form-row">
            <label for="id_{{ field.name }}">{% trans field.label %}{% if field.field.required %}<span class="required">*</span>{% endif %}</label>
            {% if field.help_text %}
            <small class='form-text text-muted'>{% autoescape off %}{{ field.help_text }}{% endautoescape %}</small>{% endif %}
            {{ field }}
            {% for error in field.errors %}
            <p style="color: red">{% autoescape off %}{{ error }} {% endautoescape %}</p>
            {% endfor %}
          </div>
          {% endfor %}
      </div>
      <div class="modal-footer text-right">
        <a href="#" class="hollow button" data-close type="cancel">Cancel</a>
        <input class="button alert" type='submit' value='{% trans "Create" %}' />
      </div>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </form>
</div>
