{% extends "vince/modal.html" %}
{% load i18n markdown_extras %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block content %}
<div class="fullmodal">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title">Statement from {{ case_member.group.groupcontact.contact.vendor_name }}</h3>
    </div>
    <div class="modal-body">
      <table class="unstriped">
	<thead>
	  <tr>
	    <td>Vulnerability</td>
	    <td>Status</td>
	  </tr>
	</thead>
	{% for stat in status %}
	<tr>
	  <td><b>{{ stat.vulnerability.vul}}:</b> {{ stat.vulnerability.description }}</td>
	  <td>{{ stat.get_status_display }}</td>
	</tr>
	{% if stat.statement %}
	<tr>
	  <td colspan='2'><b>Statement:</b>&nbsp;{{ stat.statement }}</td>
	</tr>
	{% endif %}
	{% if stat.references %}
	<tr>
	  <td colspan='2'><b>References:</b>&nbsp;{{ stat.references }}</td>
	</tr>
	{% endif %}
	{% empty %}
	<tr>
	  <td>{{ case_member.group.name }} has not updated their status.</td>
	  </tr>
	{% endfor %}
      </table>
      <hr/>
      {% if statement.statement %}
      <div class="row">
	<div class="large-12 columns">
	  <b><i>Case Statement</i></b>
	  <br/>
	  <p>{{ statement.statement | markdown | safe }}</p>
	</div>
      </div>
      {% endif %}
      {% if statement.references %}
      <div class="row">
	<div class="large-12 columns">
          <b><i>Case References</i></b>
	  <br/>
	  {% with refs=statement.references|splitlines %}
          <ul class="ul_nobullet">
            {% for ref in refs %}
            <li><a href="{{ref}}" class="vulreflink" target="_blank" rel="noopener">{{ ref }}</a>
            </li>
            {% endfor %}
          </ul>
          {% endwith %}
	</div>
      </div>
      {% endif %}
    </div>
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endblock %}

