{% extends "vince/login.html" %}

{% load i18n static %}

{% block content_title %}
<div>
  <h3>VINCE Password Change Required</h3>
</div>{% endblock %}

{% block breadcrumbs %}{% endblock %}


{% block content %}
<div>
  <p>You must change your password before logging in.
  </p>
</div>
<form method="post">{% csrf_token %}
  <div>
    {% if form.errors %}
    <p class="errornote">
      {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
    {% endif %}
    
    
    <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

    <p>Password Requirements:
      <ul>
        <li>Minimum length is 8 characters</li>
	<li>Maximum length is 50 characters</li>
        <li>Requires at least 1 number</li>
        <li>Requires at least 1 special character ("+" and "=" don't count)</li>
        <li>Requires uppercase letters</li>
        <li>Requires lowercase letters</li>
      </ul>
    </p>
    
    <div class="form-row">
      {{ form.old_password.errors }}
      {{ form.old_password.label_tag }} {{ form.old_password }}
    </div>
    
    <div class="form-row">
      {{ form.new_password1.errors }}
      {{ form.new_password1.label_tag }} {{ form.new_password1 }}
      {% if form.new_password1.help_text %}
      <p class="help">{{ form.new_password1.help_text|safe }}</p>
      {% endif %}
    </div>
    
    <div class="form-row">
      {{ form.new_password2.errors }}
      {{ form.new_password2.label_tag }} {{ form.new_password2 }}
      {% if form.new_password2.help_text %}
      <p class="help">{{ form.new_password2.help_text|safe }}</p>
      {% endif %}
    </div>
    
    <div class="row columns text-center">
      <input type="submit" value="{% trans 'Change my password' %}" class="button primary" />
    </div>
    
  </div>
</form>

{% endblock %}
