{% extends VINCECOMM_BASE_TEMPLATE %}

{% load i18n static %}

{% block title %}Password Change Complete{% endblock %}

{% block content %}
<div class="app-top-panel">
  <div class="row">
    <div class="large-6 columns">
      <h2>Password Change Complete</h2>
    </div>
    <div class="large-6 columns text-right">
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="callout success">
      <p>{% trans 'Your password was changed.' %}</p>
    </div>
  </div>
</div>

{% endblock %}



