{% extends VINCECOMM_BASE_TEMPLATE %}
{% load i18n static %}
{% block title %}Change Password{% endblock %}
{% block content %}



<div class="app-top-panel">
  <div class="row">
    <div class="large-6 columns">
      <h2>Change your Password</h2>
    </div>
    <div class="large-6 columns">
    </div>
  </div>
</div>



<form method="post">{% csrf_token %}
  {% if form.errors %}
  <div class="row">
    <div class="large-12 columns">
      <div class="callout alert">
	{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
      </div>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="large-12 columns">
      
      <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
  
      <p>Password Requirements:
	<ul>
	  <li>Minimum length is 8 characters</li>
	  <li>Maximum length is 50 characters</li>
	  <li>Requires at least 1 number</li>
	  <li>Requires at least 1 special character ("+" and "=" don't count)</li>
	  <li>Requires uppercase letters</li>
	  <li>Requires lowercase letters</li>
	</ul>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="large-8 columns">

      <fieldset class="module aligned wide">

	<div class="form-row">
	  <span class="errornote">{{ form.old_password.errors }}</span>
	  {{ form.old_password.label_tag }} {{ form.old_password }}
	</div>
	
	<div class="form-row">
	   <span class="errornote">{{ form.new_password1.errors }}</span>
	  {{ form.new_password1.label_tag }} {{ form.new_password1 }}
	</div>
	
	<div class="form-row">
	   <span class="errornote">{{ form.new_password2.errors }}</span>
	  {{ form.new_password2.label_tag }} {{ form.new_password2 }}
	  {% if form.new_password2.help_text %}
	  <p class="help">{{ form.new_password2.help_text|safe }}</p>
	  {% endif %}
	</div>
	
      </fieldset>
    </div>
    <div class="large-4 columns"></div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <input type="submit" value="{% trans 'Change my password' %}" class="primary button" />
    </div>
  </div>
</form>

{% endblock %}
