{% extends "vince/login.html" %}

{% load i18n static %}

{% block content_title %}<h3>VINCE Password Reset</h3>{% endblock %}


{% block content %}
  <p>
    Please check your email for a verification code.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the correct address,
    and check your spam folder.
  </p>
<p>Password Requirements:
  <ul>
    <li>Minimum length is 8 characters</li>
    <li>Maximum length is 50 characters</li>
    <li>Requires at least 1 number</li>
    <li>Requires at least 1 special character ("+" and "=" don't count)</li>
    <li>Requires uppercase letters</li>
    <li>Requires lowercase letters</li>
    </ul>
</p>
  
  <form action="." method="post" class="form">
    {% csrf_token %}
    {{ form }}
    <input type="submit" class="primary button expanded search-button" value="Submit">
  </form>
  
{% endblock %}



